apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379
        resources:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "1000m"
            memory: "2Gi"


---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: default
spec:
  selector:
    app: redis
  ports:
  - port: 6379
    targetPort: 6379

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-worker-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-worker
  template:
    metadata:
      labels:
        app: celery-worker
    spec:
      containers:
      - name: celery-worker
        image: crawl-news-center:latest
        command: ["celery", "-A", "src.settings.celery_config.celery_app", "worker", "-n", "worker_default", "--loglevel=info", "-Q", "default", "--concurrency=2"]
        env:
        - name: CELERY_BROKER_URL
          value: "redis://redis-service:6379/0"
        - name: CELERY_RESULT_BACKEND
          value: "redis://redis-service:6379/8"
        - name: LOG_LEVEL
          value: "INFO"
        resources:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "1000m"
            memory: "2Gi"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-crawler-worker-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-crawler-worker
  template:
    metadata:
      labels:
        app: celery-crawler-worker
    spec:
      containers:
      - name: celery-crawler-worker
        image: crawl-news-center:latest
        command: ["celery", "-A", "src.settings.celery_config.celery_app", "worker", "-n", "worker_crawler", "--loglevel=info", "-Q", "crawler_queue", "--concurrency=4"]
        env:
        - name: CELERY_BROKER_URL
          value: "redis://redis-service:6379/0"
        - name: CELERY_RESULT_BACKEND
          value: "redis://redis-service:6379/8"
        - name: LOG_LEVEL
          value: "INFO"
        resources:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "1000m"
            memory: "2Gi"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-beat-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-beat
  template:
    metadata:
      labels:
        app: celery-beat
    spec:
      containers:
      - name: celery-beat
        image: crawl-news-center:latest
        command: ["celery", "-A", "src.settings.celery_config.celery_app", "beat", "--loglevel=info"]
        env:
        - name: CELERY_BROKER_URL
          value: "redis://redis-service:6379/0"
        - name: CELERY_RESULT_BACKEND
          value: "redis://redis-service:6379/8"
        - name: LOG_LEVEL
          value: "INFO"
        resources:
          requests:
            cpu: "500m"
            memory: "1Gi"
          limits:
            cpu: "1000m"
            memory: "2Gi" 

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flower-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flower
  template:
    metadata:
      labels:
        app: flower
    spec:
      containers:
      - name: flower
        image: crawl-news-center:latest
        command: ["celery", "flower", "--address=0.0.0.0", "--port=5555", "--basic_auth=admin:admin123"]
        ports:
        - containerPort: 5555
        env:
        - name: CELERY_BROKER_URL
          value: "redis://redis-service:6379/0"
        - name: CELERY_RESULT_BACKEND
          value: "redis://redis-service:6379/8"
        - name: LOG_LEVEL
          value: "INFO"
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "200m"
            memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: flower-service
  namespace: default
spec:
  selector:
    app: flower
  ports:
  - port: 5555
    targetPort: 5555
    nodePort: 31555
  type: NodePort

